.center {
    text-align: center;
}
.f11selfin{
    font-size: 15pt;
    font-weight: 600;
    color: black;
}
.createrbl{
    font-size: 14pt;
    font-weight: 500;
    color : red;
    cursor: pointer;
}